.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("img/muffins.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h2,
h3 {
  font-family: "Staatliches", cursive;
}

p,
h4 {
  font-family: "Raleway", sans-serif;
}

#voresprodukter {
  background-color: #fdf6f0;
}

#voresprodukter h2 {
  color: #dea19a;
  font-size: 42px;
}

#sektiontop {
  background-color: #f8e2cf;
}

body {
  background-color: #f9f9f9;
}
